.wrapper {
	/* background-color: aliceblue; */
	display: grid;
	grid-gap: 50px;
	grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
	border-radius: 15px;
}

.card {
	border-radius: 15px;
	border: 2px solid transparent;
}
.card:hover {
	border: 2px solid #e6e6e6;
	cursor: pointer;
}
.card:focus,
.card:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.cardImgWrap {
	display: flex;
	justify-content: center;
}

.cardImgWrap img {
	border-radius: 15px;
	background-size: contain;
	width: 170px;
	height: 240px;
}
/* button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
} */
