.wrapper {
	background-color: gray;
	color: white;
	border-radius: 15px;
	padding: 1rem 2rem;
	margin: 30px auto;
	text-align: center;
	max-width: 600px;
}

.title {
	font-size: 2rem;
}

.description {
	font-size: 1rem;
}
